@import "./reset.css";

@font-face {
  font-family: apercu;
  src: url(./apercuMono.ttf);
  font-display: swap;
}

:root {
  --side-width: 15rem;
  --color-background: oklch(65% 0.08 288);
  --color-background-dim: oklch(65% 0.08 288 / 30%);
  --color-accent: oklch(92% 0.05 288);
}

* {
  font-family: 'apercu', Arial, sans-serif;
  color: var(--color-background);
}

body {
  width: 100%;
  height: 100dvh;
  display: grid;
  /* grid-template-columns: 0 auto; */
  grid-template-columns: var(--side-width) auto;
  place-items: center;
  background-color: var(--color-background);
  margin: 0;
  overflow: hidden;
  transition: background-color 0.3s, grid-template-columns cubic-bezier(0.68, 0, 0.265, 1.55) 0.3s;
}

aside {
  z-index: 10;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  background-color: var(--color-accent);
  color: var(--color-background);
  overflow-x: clip;

  h1 {
    font-size: 1.5rem;
    font-weight: 300;
  }

  h3 {
    font-size: 1.2rem;
    font-weight: 300;
    padding-bottom: 0.1rem;
    border-bottom: 1px solid var(--color-background-dim);
    margin-bottom: 0.5rem;
  }

  div {
    padding: 1rem;
    width: var(--side-width);
  }

  p {
    padding-top: 0.15rem;
    font-size: 0.9rem;
    text-wrap: balance;
  }
}

main {
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

canvas {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

input[type="text"] {
  position: relative;
  z-index: 5;
  color: var(--color-background);
  outline: none;
  border: none;
  padding: 0.5rem 2rem;
  text-align: center;
  border-radius: 2rem;
  background-color: var(--color-accent);
  box-shadow: var(--color-background) 0 0 4rem 2rem;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  outline-offset: 4px;

  &:focus {
    outline: 2px solid var(--color-accent);
  }
}

button {
  position: absolute;
  display: grid;
  place-items: center;
  z-index: 5;
  color: var(--color-background);
  outline: none;
  border: none;
  padding: 0.75rem;
  text-align: center;
  border-radius: 50%;
  background-color: var(--color-accent);
  cursor: pointer;
  box-shadow: var(--color-background) 0 0 4rem 2rem;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;

  svg {
    height: 1.5rem;
    width: 1.5rem;
  }

  &.magic-button {
    top: 2rem;
    left: 2rem;
  }

  &.settings-button {
    bottom: 2rem;
    left: 2rem;
  }
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 0.5rem;
  background: var(--color-background);
  transition: opacity .2s;

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    background: var(--color-background);
    border-radius: 0.5rem;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -0.25rem;
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    background: var(--color-accent);
    border: none;
    border: 2px solid var(--color-background);
    cursor: pointer;
  }

  &::-moz-range-thumb {
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    background: var(--color-accent);
    border: none;
    border: 2px solid var(--color-background);
    cursor: pointer;
  }
}